@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import "tailwindcss";
/* Reset and base styles  */
#root {
    width: 100vw;
}
html {
    background-color: #f2f6ff;
    overflow-x: hidden;
    line-height: 1;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}
/* 
input::-ms-clear {
    display: none;
} */

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

input[type="file"] {
    max-width: 100%;
}
